body {
  background-color: rgb(58, 175, 169)
}

h1 {
  color: white;
  font-family: "Segoe UI Variable Display", "San Francisco";
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #2B7A78;
}

input[type="number"] {
  background-color: rgb(222, 242, 241);
}
